html ::-webkit-scrollbar {
  height: 14px;
  width: 12px;
  overflow: visible;
  position: absolute;
  bottom: 16px;
}
html ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
html ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 100px;
}
html ::-webkit-scrollbar-corner {
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
html ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
html body #js-header {
  transition: 0.5s opacity;
  opacity: 1;
}
html body .layout-Main {
  transition: 0.5s margin-top;
  margin-top: 0;
}
html body #js-aside {
  margin-top: -68px;
  z-index: 401;
}
html body.head-hide #js-header {
  opacity: 0.1;
}
html body.head-hide .layout-Main {
  margin-top: -30px;
}
html .Barrage {
  border-top: none;
}
html .Barrage-listItem > div {
  padding: 0 10px !important;
}
html .Barrage-listItem .Barrage-nickName {
  color: #2b94ff !important;
}
html .Barrage-listItem .Barrage-nickName.is-self {
  color: #ff5d23 !important;
}
html .layout-Player-asideMainTop.hide .layout-Player-announce {
  display: none;
}
html .layout-Player-asideMainTop.hide .layout-Player-barrage {
  top: 0;
}
html .layout-Player-asideMainTop.hide .layout-Player-rank {
  border: none;
  display: none;
}
html .layout-Player-asideMainTop.hide .ChatRank-rankWraper {
  display: none;
}
html .noble-bf13ad {
  background: none !important;
}
html .Barrage-notice--noble {
  background: none !important;
  border: none !important;
}
html.no-background .bc-wrapper {
  background-color: transparent !important;
  background-image: none !important;
}
html .is-fullScreenPage #wah0713 {
  display: none;
}
html #wah0713 {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  right: -173px;
  z-index: 20;
  padding: 10px 5px;
  background: #fedf6b url(https://wah0713.github.io/myTampermonkey/image/minion.jpg) no-repeat center / 100%;
}
html #wah0713:hover {
  right: 0;
}
html #wah0713:hover > button {
  opacity: 1;
}
html #wah0713 > img {
  width: 32px;
  position: absolute;
  padding-right: 13px;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
}
html #wah0713 > button {
  box-shadow: 3px 3px 5px #ccc;
  margin: 0 auto 5px;
  display: block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #409eff;
  border: 1px solid #409eff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0.75;
}
html #wah0713 > button:last-of-type {
  margin-bottom: 0;
}
html #wah0713 > button.close {
  background: #82848a;
  border-color: #82848a;
}
