html ::-webkit-scrollbar {
  height: 14px;
  width: 12px;
  overflow: visible;
  position: absolute;
  bottom: 16px;
}
html ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
html ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 100px;
}
html ::-webkit-scrollbar-corner {
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
html ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
html .Barrage-listItem .Barrage-nickName {
  color: #2b94ff !important;
}
html .Barrage-listItem .Barrage-nickName.is-self {
  color: #ff5d23 !important;
}
html .bc-wrapper {
  background-color: transparent !important;
  background-image: none !important;
}
html .noble-bf13ad {
  background-color: transparent !important;
  opacity: 0.75 !important;
}
html .Barrage-notice--noble {
  background-color: transparent !important;
  border: none !important;
}
html .danmuItem-31f924 > div:nth-child(2) {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: default;
}
html #wah0713 {
  background-color: #fedf6b;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  right: -105px;
  z-index: 1;
  padding: 10px 5px;
  opacity: 0.75;
}
html #wah0713:hover {
  right: 0;
  opacity: 1;
}
html #wah0713 > button {
  margin: 0 auto 5px;
  display: block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #409eff;
  border: 1px solid #409eff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
}
html #wah0713 > button:last-of-type {
  margin-bottom: 0;
}
html #wah0713 > button.close {
  background: #82848a;
  border-color: #82848a;
}
