html ::-webkit-scrollbar {
  height: 14px;
  width: 12px;
  overflow: visible;
  position: absolute;
  bottom: 16px;
}
html ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
html ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 100px;
}
html ::-webkit-scrollbar-corner {
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
html ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
html body .broadcastDiv-af5699 {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
html body #js-header {
  transition: 0.5s opacity;
  opacity: 1;
}
html body .layout-Main {
  transition: 0.5s margin-top;
  margin-top: 0;
}
html body #js-aside {
  margin-top: -68px;
  z-index: 401;
}
html body.head-hide #js-header {
  opacity: 0.1;
}
html body .super-user-icon-574f31,
html body .super-tail-bffa58,
html body .super-noble-icon-9aacaf,
html body .super-user-icon-574f31 {
  display: none !important;
}
html body .super-text-0281ca {
  background: none !important;
}
html .Barrage {
  border-top: none;
}
html .danmuMove {
  display: none;
}
html .room-Player-Box.mark [class^='danmuItem-'] {
  cursor: default;
  pointer-events: none;
}
html .danmuItem-31f924 {
  background-color: transparent !important;
}
html .danmuItem-31f924 .text-b132b0 {
  font: 700 24px SimHei, Microsoft JhengHei, Arial, Helvetica, sans-serif !important;
}
html .Barrage-listItem > div:first-child {
  padding: 0 10px !important;
}
html .Barrage-listItem .Barrage-nickName {
  color: #2b94ff !important;
}
html .Barrage-listItem .Barrage-nickName.is-self {
  color: #ff5d23 !important;
}
html .layout-Player-asideMainTop.hide .layout-Player-announce {
  display: none;
}
html .layout-Player-asideMainTop.hide .layout-Player-barrage {
  top: 0;
}
html .layout-Player-asideMainTop.hide .layout-Player-rank {
  border: none;
  display: none;
}
html .layout-Player-asideMainTop.hide .ChatRank-rankWraper {
  display: none;
}
html .noble-bf13ad {
  background: none !important;
}
html .Barrage-notice--noble {
  background: none !important;
  border: none !important;
}
html.no-background .bc-wrapper {
  background-color: transparent !important;
  background-image: none !important;
}
html.no-background .Background-holder {
  padding-top: 10px;
}
html.no-background #js-bottom {
  display: none;
}
html.no-background body {
  background-image: none;
  background-color: #ffe;
}
html.no-background body.go-beyound {
  background-image: url('https://img-blog.csdnimg.cn/20210116195614315.jpg?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2MyODY4OTgyMzI=,size_16,color_FFFFFF,t_70#pic_center');
  background-color: #f6f6f6;
  background-position: center 68px;
  background-repeat: repeat-y;
}
html.no-background body .layout-Container {
  background-image: none;
  background-color: #ffe;
}
html .is-fullScreenPage #wah0713 {
  display: none;
}
html #wah0713 {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -182px;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 20;
  padding: 10px 5px;
  background: #fef54e url(https://img-blog.csdnimg.cn/20210116195614319.jpg?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2MyODY4OTgyMzI=,size_16,color_FFFFFF,t_70#pic_center) no-repeat center / 100%;
  width: 160px;
  transition: all 0.5s ease-out;
}
html #wah0713.hasUpdate .tip {
  animation: Bigger linear 2s infinite;
}
html #wah0713.hasUpdate .gear > img {
  animation-play-state: running;
}
html #wah0713.hasUpdate .gear .redDot {
  display: block;
}
html #wah0713 .tip {
  text-align: center;
  margin-bottom: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
html #wah0713 .tip > a {
  color: red;
}
html #wah0713:hover {
  right: 0;
}
html #wah0713:hover > button {
  opacity: 1;
}
html #wah0713 .gear {
  width: 32px;
  padding-right: 13px;
  position: absolute;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
}
html #wah0713 .gear > img {
  width: 100%;
  animation: rotating linear 30s infinite paused;
  border-radius: 33%;
}
html #wah0713 .gear .redDot {
  display: none;
  width: 9px;
  height: 9px;
  background-color: #fd4a4e;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 13px;
}
html #wah0713 > button {
  margin: 0 auto 5px;
  display: block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #409eff;
  border: 1px solid #409eff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0.75;
}
html #wah0713 > button:last-of-type {
  margin-bottom: 0;
}
html #wah0713 > button:hover {
  opacity: 0.8;
}
html #wah0713 > button.close {
  background-color: #fff;
  color: #409eff;
}
html #wah0713-alert {
  display: none;
  padding: 8px 16px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 8px;
}
html #wah0713-alert > i {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 14px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  margin-right: 8px;
  position: relative;
  top: -1px;
}
html #wah0713-alert.warning {
  background-color: #fff1f0;
  border-color: #f5222d;
}
html #wah0713-alert.warning > i {
  background-color: #f5222d;
}
html #wah0713-alert.info {
  background-color: #f4f4f5;
  border-color: #909399;
}
html #wah0713-alert.info > i {
  background-color: #909399;
}
html #wah0713-alert > span {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  color: rgba(0, 0, 0, 0.65);
}
html .marginTop100 {
  margin-top: 100px !important;
}
html .background-image-hide {
  background-image: none !important;
  background-color: transparent !important;
}
html .Barrage-list.trim .Barrage-listItem > div .UserLevel,
html .Barrage-list.trim .Barrage-listItem > div .UserLevel ~ *:not(.Barrage-nickName, .Barrage-content) {
  display: none;
}
.FirePower,
.focus_box_con-7adc83,
#js-room-activity,
.closeBg-998534,
.EnterEffect,
.Title-roomOtherBottom,
.Header-download-wrap,
.noSubFloat-3e7a50,
.watermark-442a18,
.code_box-5cdf5a,
.code-box-15b952,
.normalBg-a5403d,
.multiBitRate-da4b60,
.ordinaryBcBox-8220a7,
.PaladinWeek-toast,
.Barrage-topFloater,
.RoomText-wrap,
.Barrage-chat-ad,
.SysSign-Ad,
.PcDiversion,
.guessIconReminding,
.FuDaiActPanel,
.ad-box-f661ba,
.recommendAD-54569e,
.vivo-ad-743527,
.FuDaiActPanel,
.WXTipsBox,
.DanmuEffectDom-container,
.ActDayPay-toast,
.afterpic-8a2e13,
.FirePowerIcon,
.user-icon-8af1e3,
.noble-icon-c10b6a,
.bc-f66a59,
.FirePowerRewardModal,
.HeaderNav,
.PlayerToolbar-signCont,
.activity-icon-c717fc,
.user-icon-eeabb1,
.noble-icon-88f562,
.activity-icon-4b45df,
.LuckyStartEnter,
.LotteryContainer-svgaDes,
.PrivilegeGiftModalDialog,
#FansFestival2003Tips,
.FishShopTip,
.AnchorReturnDialog,
.XinghaiAd,
.DiamondsFansPromptPop,
.FudaiGiftToolBarTips,
.AnchorPocketTips,
.SignBaseComponent-sign-ad,
.RechargeBigRewards,
.WishingForestDialog,
.ChargeTask-closeBg,
.Bottom-ad,
.Barrage-userEnter,
.Barrage-list .Barrage-userEnter,
.Barrage-list .Barrage-message,
.DiamondsFansBarrage,
.headpic-dda332 {
  display: none !important;
}
.opacity0 {
  opacity: 0;
}
.is-hide {
  display: none !important;
}
@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Bigger {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
